<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Chatting</title>
    <!-- hubungkan file css yang dibuat sendiri -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- hubungkan file font awesome css -->
    <link rel="stylesheet" href="/assets/font-awesome-free-5.9.0/css/all.min.css">
     <!-- Hubungkan file bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="/assets/css/style.css">
 
 </head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container"> 
            <a class="navbar-brand" href="#page-top"> OURCHATTING HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="/ourchatting/user/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="/ourchatting/user/profile">PROFILE</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="/ourchatting/user/teman">TEMAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="/ourchatting/user/about">ABOUT</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger text-white" href="/ourchatting/user/contact">CONTACT</a>
                    </li>
                    <li class="nav-item js-scroll-trigger">
                        <a class="nav-link js-scroll-trigger text-white" href="/ourchatting/user/feedback">FEEDBACK</a>
                    </li>
                    <li class="nav-item js-scroll-trigger">
                        <a class="nav-link js-scroll-trigger text-white" href="/ourchatting/user/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br><br>
 
     <p class="text-center">
        Jika Anda Ingin Menghubungi Tim OurChatting Silakan Contact Kami di <a href="https://facebook.com/RendyDendimara">Facebook</a> 
    </p>

    <div>
        <div class="footer bg-dark fixed-bottom text-white text-center">copyright@2019 by r3ndyDinar</div>
    </div>
     <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/css/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>