<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Chatting</title>
     <!-- hubungkan file css yang dibuat sendiri -->
     <link rel="stylesheet" href="/assets/css/style.css">
     <!-- hubungkan file font awesome css -->
     <link rel="stylesheet" href="/assets/font-awesome-free-5.9.0/css/all.min.css">
     <!-- Hubungkan file bootstrap CSS -->
     <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min.css">
     <link rel="stylesheet" href="/assets/css/style.css">
     <!-- <script src="/assets/js/jquery.js"></script> -->
     <script src="/assets/js/jquery-3.4.1.min.js"></script>
 
 </head>
<body>
  <div class="container mt-2" style="box-shadow: 0 3px 20px rgb(0, 0, 0, 0.4);">
    <h1 class="text-center text-white bg-dark"> LOGIN OurChatting</h1>     
    <hr>
    <div style="margin-top: 8%">
      <form class="needs-validation" action="/ourchatting/login" method="POST" novalidate> 
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group"> 
            <div class="input-group-prepend">
              <!-- class fa fa-user adalah ikon lambang user dari Font Awesome -->
              <div class="input-group-text">
                <i class="fas fa-user"></i>
              </div>
            </div>
            <input type="email" class="form-control" placeholder="Masukan Email Akun Anda" name="email" id="email" required>
            <div class="invalid-feedback">
              Email Tidak Di Kenali
            </div>
          </div>  
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-unlock-alt"></i>
              </div>
            </div>
            <input type="password" class="form-control" placeholder="Masukan Password Anda" name="password" id="password" required>
              <div class="invalid-feedback">
                Password Tidak Benar
              </div>
          </div>
        </div>
        
        <!-- area tempat pesan kesalahan yang dikirim dari server -->
        <div class="bg-light" style="width: 100%">
          <p class="text-danger text-center mt-3"><%=message%></p>
        </div>                     
        
        <center>
          <button type="submit" class="btn btn-primary" style="width: 90%">LOGIN </button>
        </center>
        <p class="text-center">
          Belum punya akun ? <a href="/ourchatting/signup">Daftar Akun</a>Sekarang
        </p>
        
      </form>
    </div>           
    
    <div class="bg-light" style="width: 100%; margin-top: 10%" >
      <p class="text-black-50 text-center mt-5">LOGIN AKUN OurChatting</p>
    </div>         
        
    <div class="bg-dark" style="width: 100%">
      <p class="text-center text-white">OurChatting.com copyright@2019 by r3ndyDinar</p> 
    </div>         
  </div>
  
    
  <!-- Optional JavaScript -->
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
      'use strict';
      window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })(); 
</script>