<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Chatting</title>
    <!-- hubungkan file css yang dibuat sendiri -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- hubungkan file font awesome css -->
    <link rel="stylesheet" href="/assets/font-awesome-free-5.9.0/css/all.min.css">
    <!-- Hubungkan file bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
 </head>
<body>
    
    <div class="container mt-2" style="box-shadow: 0 3px 20px rgb(0, 0, 0, 0.4);">
        <h1 class="text-center text-white bg-dark">WELCOME TO OurChatting</h1>
            <div class="container2  text-center">
                <button type="button" class="btn btn-success" style="width: 90%" onclick="window.location='/ourchatting/signup'">DAFTAR AKUN OURCHATTING</button> 
                <p class="text-center mt-4">ATAU</p>
                <button type="button" class="btn btn-primary" style="width: 90%" onclick="window.location='/ourchatting/login'">LOGIN</button>    
            </div>      
        <div class="bg-dark" style="width: 100%">
            <p class="text-center text-white">OurChatting.com copyright@2019 by r3ndyDinar</p> 
        </div>         
    </div>
    
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/css/bootstrap/js/bootstrap.min.js"></script>
    <p></p>
</body>
</html>